*{
    padding: 0;
}
body{
    background-color: rgb(157, 207, 250);
    font-family: monospace;
    padding: .7rem;
}
header,footer{
    text-align: left;
    background-color: rgb(165, 182, 197);
    padding: 1em 2em 1em 2em;
    border-radius: 1em;
    box-shadow: -3px -3px black;
}
nav a{
    font-weight: bolder;
    color: rgb(63, 80, 158);
    padding: 0.2rem;
    border: 1px solid black;
}
table{
    border-style: solid;
}
section{
    width: 70%;
    background-color: rgb(120, 185, 241);
    padding: 2em 3em 2em;
    border-radius: 1em;
    box-shadow: -2px -3px rgb(58, 50, 50);
}

